.card{
  text-align: center;
}

.card img{
  width:300px;
  height:250px;
  padding: 20px;
}

.hasil{
    padding: 20px;
    background: darkgrey;
    height: 325px;
    overflow-y: scroll;
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

.md-input-wrapper-custom {
    position: relative;
    padding-top: 4px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.md-input-wrapper-custom > label {
    text-transform: initial;
    position: absolute;
    color: #40c4ff;
    left: 4px;
    right: 0;
    top: -15px;
    font-size: 13px
    pointer-events: none;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    -ms-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}
